<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{stats.name}}</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" type="text/css">
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script>
            $( document ).ready( function() {
                function closeViewer () {
                    document.querySelector( ".image-viewer-container" ).className = "image-viewer-container";
                    setTimeout( function () {
                        document.querySelector( ".image-viewer-container" ).style.display = "none";
                    }, 200 );
                }

                function openViewer ( target ) {
                    document.querySelector( ".image-viewer-container" ).style.display = "flex";
                    setTimeout( function () {
                        document.querySelector( ".image-viewer-container" ).className = "image-viewer-container visible";
                    }, 0 );

                    var baseline = target.getAttribute( "data-baseline" );
                    var regression = target.getAttribute( "data-regression" );
                    var diff = target.getAttribute( "data-diff" );
                    var regressionTitle = target.getAttribute( "data-regressionTitle" );
                    var baselineTitle = target.getAttribute( "data-baselineTitle" );
                    var diffTitle = target.getAttribute( "data-diffTitle" );

                    [].slice.call( document.querySelectorAll( ".image-viewer .content > div" ) ).forEach( function ( node ) {
                        if ( node.className === "regression" ) {
                            node.querySelector( "img" ).setAttribute( "src", regression );
                            node.querySelector( "h4" ).innerText = regressionTitle;
                        }
                        else if ( node.className === "baseline" ) {
                            node.querySelector( "img" ).setAttribute( "src", baseline );
                            node.querySelector( "h4" ).innerText = baselineTitle;
                        }
                        else if ( node.className === "diff" ) {
                            node.querySelector( "img" ).setAttribute( "src", diff );
                            node.querySelector( "h4" ).innerText = diffTitle;
                        }
                    } );
                }

                $( "body" ).on("click", ".rendering-test", null, function( e ) {
                    e.preventDefault();
                    openViewer( e.target );
                    return false;
                });

                $( "body" ).on("click", ".image-viewer-container", null, function( e ) {
                    if ( !e.target ) {
                        return;
                    }
                    if ( e.target.className === "close" || e.target.className.match( /image-viewer-container/ ) ) {
                        closeViewer();
                    }
                } );

                $(".sensei-embed2").on("click", function () {
                    $(this).parents("article").find(".test-code").slideToggle("slow");
                });

                $(".sensei-embed").on("click", function () {
                    $(this).parents("article").find(".test-error-stack").slideToggle("slow");
                });
            } );
        </script>
        <style type="text/css">
            {{{addLocalCSS "css/style.css"}}}
            {{{addLocalCSS "css/icons.css"}}}
            {{{addLocalCSS "css/imageview.css"}}}
            {{{addLocalCSS "css/agate.css"}}}
        </style>
    </head>
    <body>
        <header>
            <section class="top_header">
                <h1 class="name">{{stats.name}}<span class="version">  v {{stats.version}}</span></h1>
                <h3 class="description">{{stats.description}}</h3>
            </section>
            <section class="info_header">
                <ul class="info">
                    <li><i class="sensei-calendar"></i>{{dateFormat stats.mainStart "dddd, MMMM D YYYY, HH:mm"}}</li>
                    <li><i class="sensei-earth"></i>{{stats.browserName}} ({{stats.browserVersion}})</li>
                    <li><i class="sensei-stopwatch"></i>{{formatSummaryDuration stats.duration}} {{getSummaryDurationUnits stats.duration}}</li>
                </ul>
                <ul class="stats">
                    <li><i class="sensei-sigma total"></i>TOTAL {{stats.tests}}</li>
                    <li><i class="sensei-pause2 pending"></i>PENDING {{stats.pending}}</li>
                    <li><i class="sensei-cross failed"></i>FAILED {{stats.failures}}</li>
                    <li><i class="sensei-checkmark passed"></i>PASSED {{stats.passes}}</li>
                </ul>
            </section>
        </header>
        <section class="tests">
            {{#each tests}}
                <article>
                    <div class="testcase">
                        <div class="testName">
                            {{#if failed}}
                                <i class="sensei-cross failed"></i>
                            {{/if}}
                            {{#if pending}}
                                <i class="sensei-pause2 pending"></i>
                            {{/if}}
                            {{#if passed}}
                                <i class="sensei-checkmark passed"></i>
                            {{/if}}
                            <h4>{{fullTitle}}</h4>
                            <i class="sensei-embed2"></i>
                        </div>
                        {{#unless pending}}
                            <div class="testInfo">
                                {{#if err.expected.regression}}
                                    <a href="#" class="rendering-test">
                                        <i class="sensei-images" data-regression={{err.expected.regression}} data-regressionTitle="Regression" data-baseline={{err.expected.baseline}} data-baselineTitle="Baseline" data-diff={{err.expected.diff}} data-diffTitle="Difference"></i>
                                    </a>
                                {{/if}}
                                {{#if screenshot}}
                                    <a href="#" class="rendering-test">
                                        <i class="sensei-image" data-regression={{screenshot}} data-regressionTitle="Screenshot" data-baseline={{screenshot}} data-baselineTitle="Screenshot" data-diff={{screenshot}} data-diffTitle="Screenshot"></i>
                                    </a>
                                {{/if}}
                                <span>{{formatDuration duration}}</span>
                            </div>
                        {{/unless}}
                    </div>
                    {{#if failed}}
                        <div>
                            <span class="failed message">{{err.message}}</span><i class="sensei-embed"></i>
                        </div>
                    {{/if}}
                    <div class="test-code collapsed">
                        <span class="message">Test spec:</span>
                        <pre><code class="hljs">{{{code}}}</code></pre>
                    </div>
                    {{#if failed}}
                        <div class="test-error-stack collapsed">
                            <span class="message">Stack trace:</span>
                            <pre><code class="hljs">{{{err.stack}}}</code></pre>
                        </div>
                    {{/if}}
                    {{#if consoleEntries}}
                        <div class="test-error-stack collapsed">
                        <span class="message">Console log entries:</span>
                            <pre><code class="hljs">{{#each consoleEntries}}<li>{{ this }}</li>{{/each}}</code></pre>
                        </div>
                    {{/if}}
                </article>
              {{/each}}
        </section>

        <div class="image-viewer-container">
            <div class="image-viewer">
                <div class="close">✖</div>
                <div class="content">
                    <div class="regression">
                        <h4></h4>
                        <img></img>
                    </div>
                    <div class="baseline">
                        <h4></h4>
                        <img></img>
                    </div>
                    <div class="diff">
                        <h4></h4>
                        <img></img>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
